*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
	display: grid;
	grid-template-areas:
		"nav nav"
		"header main"
		". main"
		"map map"
		"footer footer";
	grid-template-rows: auto 1fr auto auto;
	grid-template-columns: 1fr 2fr;
	grid-gap: 1vw;
	margin: 0;
	min-height: 100vh;
  font-family: Overpass, sans-serif;
	overflow-y: auto;
	scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/*
@media (min-width: 90em) {
  body {
		grid-template-areas:
		"nav nav"
		"header map"
		"main map"
		"main map"
		"footer footer";
	}
} */


nav[role="navigation"] {
	grid-area: nav;
	background-color: #ffffff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .125);
	z-index: 1;
	width: 100vw;
	height: 80px;
}

nav[role="navigation"] ul {
	display: flex;
	align-items: center;
	height: 60%;
	list-style: none;
}

nav[role="navigation"] li:last-child {
	margin-left: auto;
}

nav[role="navigation"] a {
	font-weight: 700;
	color: #000;
	text-align: center;
	padding: 20px;
	text-decoration: none;
	border-bottom: 2px solid #ffffff;
}

nav[role="navigation"] a:hover:not(.active) {
	border-bottom: 2px solid #002874;
	color: #002874;
}


header {
	grid-area: header;
	text-align: center;
}

header > h1  {
	color: #edc634;
	font-size: 5.063em;
	margin-top: 0;
}

aside > h2  {
	text-align: left;
	color: #edc634;
	font-family: Overpass, sans-serif;
	font-size: 2em;
}

main {
	grid-area: main;
	max-width: 65ch;
}

main h2 {
	font-size: 2.25em;
}

main h3 {
	margin-top: 2em;
	font-size: 1.5em;
	border-bottom: 1px solid;
}

footer {
	grid-area: main;
}

/* Natural flow and rhythm in articles by default */
article > * + *,
main > * + * {
  margin-top: 1em;
}


main > p,
main > ul,
main > ol {
	font-size: 1.2em;
}

main > ul,
main > ol {
	margin: 0;
	padding: 0;
}

sup {
	font-size: 60%;
}

/* iframe displays carto map on map.html */

iframe {
	grid-area: map;
	border: none;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	overflow-x: scroll;
	overflow-y: scroll;
}


img {
	display: block;
  max-width: 100%;
}


footer {
	grid-area: footer;
	border-top: 2px solid #7d7d7d;
	background-color: #f2f2f2;
	padding: 1em;
}


footer p {
	text-align: center;
}

footer address {
	font-style: normal;
	text-align: center;
}

footer a {
	text-decoration: none;
	color: #44719a;
}

footer a:hover {
	color: #002874;
}

footer img {
	width: 35px;
	margin-right: 10px;
}

a:hover {
	color: #dc0088;
}

/* buttons to tutorials on maps.html*/
.toc {
	grid-area: header;
	list-style-type: none;
	margin: 1em;
	margin-top: 15em;
	padding: 0;
	position: fixed;
}

.tutorial-links {
	display: none;
}

.tutorial-links ul {
	list-style: none;

}

.tutorial-links li {
	margin-bottom: 1em;
}


.home {
	background-image: url("../images/solarpanels.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #ebd2ba;
	background-position: bottom;
}

.ucla-ioes-logo {
	width: 300px;
}

.lede {
	font-size: 1.5em;
}


.btn,
a[role="button"] {
  display: inline-block;
  color: #0085ff;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 2px solid#0085ff;
	padding: 0.5em 1em;
  font-size: 1.2rem;
	text-decoration: none;
  transition: 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
	.btn,
	a[role="button"] {
    transition: none;
  }
}

.btn:hover,
a[role="button"]:hover {
  color: #fff;
  background-color: #0085ff;
  border-color: #0085ff;
}

.btn:focus,
a[role="button"]:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/*Accordion on map.html*/
/*Button style for opening accordion*/
button.accordion {
	width: 100%;
}
.accordion {
	display: inline-flex;
	justify-self: right;
	color: #0085ff;
	background-color: white;
	font-family: Overpass, sans-serif;
	font-size: 1.2rem;
	line-height: 1.5;
	cursor: pointer;
	padding: 1em;
	border: 2px solid #0085ff;
	transition: 0.4s;
}

.accordion:hover {
	color: #fff;
  background-color: #0085ff;
  border-color: #0085ff;
}

.panel {
	padding: 0 1em;
	background-color: white;
	display: none;
	overflow: hidden;
	text-align:left;
}

  /* plus and minus icons */
.accordion:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	color: #1785FB;
	margin-left: auto;
}

.active:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/*Map.html go to top button */
#topBtn {
	display: none;
	position: fixed;
	bottom: 0.75em;
	left: 19em;
	z-index: 99;
	font-size: 1rem;
	color: #0085ff;
	transition: 0.15s ease-in-out;
	border: 2px solid#0085ff;
		padding: 0.25em 0.5em;
	outline: none;
	cursor: pointer;
  }

  #topBtn:hover {
	background-color: #0085ff;
	color: white;
  }

.direction {
	color: #ebd2b9;
	margin-left: -10px;
	opacity: 1;
}


.title-question {
	font-family: 'Assistant', sans-serif;
	font-size: 3.375em;
	line-height: 1.2;
	text-align: left;
	color: #44719a;
	letter-spacing: .04em;
	margin-bottom: -20px;
	opacity: 0 no-repeat;
	z-index: 1;
	position: absolute;
	border: solid #cccccc 4px;
	left: 60px;
	top: 120px;
	margin: 0;
	padding: 40px;
	background-color: #f8f7f7;
}




/* Images in Tutorial functionality */
.tutorialImg {
	cursor: pointer;
	transition: 0.3s;
	width: 100%;
	height: auto;
	outline: 2px solid #002874;
}

.tutorialImg:hover {
	opacity: 0.7;
}

/* The Modal starts here (background) */

/* start by hiding the slides. displayed by js */
.mySlides {
	display: none;
}

.mySlides img {
	width: 100%;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	margin: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.9);
}

.modal-nav {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 1vw;
}

.modal-nav img {
	object-fit: cover;
	opacity: 0.6;
	width: 100%;
}

.modal-nav img:hover {
	opacity: 1;
	cursor: pointer;
}

.modal-content {
	max-width: 800px;
	margin: auto;
	padding: 0;
}


.modal-content figcaption {
	text-align: center;
	padding: 2px 16px;
	color: white;
	font-size: 1em;
	margin-bottom: 1em;
}

.modal-content figcaption span {
	width: 75px;
	height: 75px;
}

.number {
	display: flex;
	color: black;
	background-color: #ffd100;
	border: 5px solid #fff;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	margin: auto auto 20px auto;
  font-size: 1.5em;
}

/* The Close Button */
.close {
	position: absolute;
	top: 15px;
	right: 45px;
	color: #ff00a6;
	font-size: 3em;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #b9006c;
	text-decoration: none;
	cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 45%;
	padding: 16px;
	color: #ffd100;
	font-weight: 700;
	font-size: 7.594rem;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

.prev {
	left: 0;
}

.next {
	right: 0;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* The Modal ends here (background) */
